body { 
    background: #fff;
    font-family: microsoft yahei;
    color: #333;} 
h1 { 
    font-size: 100px;
    font-weight: normal;
    margin-bottom: 5px; }
h2 {
    font-size: 56px;
    font-weight: normal;
    margin-bottom: 6px; }
p { 
    line-height: 1.8em;
    font-size: 20px;
    }
li {
    list-style:none;
}
div .content{
    padding-left: 48px;
}
a {
    font-size:16px;
}
a:link {
    color: blue;
    text-decoration:none;
}
a:active {
    color: red;
}
a:visited {
   color:purple;
   text-decoration:none;
}
a:hover {
    color: red;
    text-decoration:underline;
}
.top {
position:absolute;
top:170px;
left:90px;
}