table.skillTable {
    width: 60%;
    word-wrap: break-word;
    table-layout: fixed;
    padding: 1px 1px 0px 0px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px hidden #ccc;
    border-bottom: 1px hidden #ccc;
}
table.skillTable th {
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

table.skillTable1 {
    background-color: #DFF4CD;
}
table.skillTable2 {
    background-color: #E9EAEC;
}
.inputBox {
    height:33px;
    width:171px;
    border:none;
    background-image:url(../images/ui_kit.jpg);
    background-repeat:no-repeat;
    background-position: -83px -239px;
    line-height:30px;
    text-indent:10px;
}
.searchButton {
    height:36px;
    width:91px;
    border:none;
    cursor:pointer;
    background-color:#3385ff;
    color:#FFFFFF;
    font-size:20px;
    font-family:黑体;
}
.skill_tip {
    padding-left:3px;
    text-align:left;
}
div .bisha{
    position: fixed;
    float:left;
    height:600px;
    width:1000px;
    z-index:9999; 
}